@model List<Product>
<div style="width:100%; margin:2rem auto;">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">All Categories</h4>
            <a asp-controller="product" asp-action="create" class="card-description btn btn-primary" style="color:white; ">
                Add Product
            </a>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>

                            <th style="color:black;font-weight:600;">Id</th>
                            <th style="color:black;font-weight:600;">Name</th>
                            <th style="color:black;font-weight:600;">Price</th>
                            <th style="color:black;font-weight:600;">Stock</th>
                            <th style="color:black;font-weight:600;">Created At</th>

                            <th style="color:black;font-weight:600;">Updated At</th>

                            <th style="color:black;font-weight:600;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.Price</td>
                                <td>@item.InStock</td>
                                <td>@item.CreatedAt</td>
                                @if (item.UpdatedAt != null)
                                {
                                    <td>@item.UpdatedAt; </td>
                                }
                                else
                                {

                                    <td>N/A</td>
                                }
                                <td style="display:flex;align-items:center;gap:1rem;">
                                    <a asp-controller="product" asp-action="edit" asp-route-id="@item.Id">🖊</a>
                                    <a asp-controller="product" asp-action="delete" asp-route-id="@item.Id">❌</a>
                                </td>
                            </tr>
                        }







                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>