<div style="width:100%; margin:2rem auto;">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">All Sizes</h4>
            <a asp-controller="size" asp-action="create" class="card-description btn btn-primary" style="color:white; ">
                Add Size
            </a>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>

                            <th style="color:black;font-weight:600;">Id</th>
                            <th style="color:black;font-weight:600;">Name</th>
                            <th style="color:black;font-weight:600;">Created At</th>

                            <th style="color:black;font-weight:600;">Updated At</th>

                            <th style="color:black;font-weight:600;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.CreatedAt</td>
                                @if (item.UpdatedAt != null)
                                {
                                    <td>@item.UpdatedAt</td>
                                }
                                else
                                {

                                    <td>N/A</td>
                                }


                                <td style="display:flex;align-items:center;gap:1rem;">
                                    <a asp-controller="size" asp-action="update" asp-route-id="@item.Id">🖊</a>
                                    <a asp-controller="size" asp-action="delete" asp-route-id="@item.Id">❌</a>
                                </td>
                            </tr>
                        }





                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>